@font-face {
  font-family: Golos;
  font-weight: 400;
  src: url("@/assets/fonts/Golos-Text_Regular.ttf");
}

@font-face {
  font-family: Golos;
  font-weight: 500;
  src: url("@/assets/fonts/Golos-Text_Medium.ttf");
}

@font-face {
  font-family: Golos;
  font-weight: 600;
  src: url("@/assets/fonts/Golos-Text_SemiBold.ttf");
}

@font-face {
  font-family: Golos;
  font-weight: 700;
  src: url("@/assets/fonts/Golos-Text_Bold.ttf");
}

@font-face {
  font-family: Golos;
  font-weight: 900;
  src: url("@/assets/fonts/Golos-Text_Black.ttf");
}

@font-face {
  font-family: Golos;
  font-weight: 300;
  src: url("@/assets/fonts/Golos-Text_Black.ttf");
}

@font-face {
  font-family: Inter;
  font-weight: 600;
  src: url("@/assets/fonts/Inter-Text_SemiBold.ttf");
}
